<header>
  <h3 class="h3 mb-3 font-weight-normal text-center">{{ playlist?.title }}</h3>
  <h4 class="h4 mb-3 font-weight-normal text-center text-muted">
    {{ playlist?.description }}
  </h4>
  <div class="col-md-12 text-center">
    <button
      class="btn m-1 btn-outline-primary"
      data-bs-toggle="modal"
      data-bs-target="#editModal"
    >
      <i class="fas fa-pencil"></i>
    </button>

    <button
      class="btn m-1 btn-outline-danger"
      (click)="deletePlaylist(playlist.id)"
    >
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>
</header>

<section>
  <app-songs-grid [rowData]="songs"></app-songs-grid>

  <button
    data-bs-toggle="modal"
    data-bs-target="#AddSongModal"
    class="m-2 btn btn-primary"
  >
    <i class="fa-solid fa-plus"></i> Add Song
  </button>
</section>

<div
  class="modal fade"
  id="AddSongModal"
  data-toggle="modal"
  data-target=".AddSongModal"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add song to playlist</h5>
        <button
          type="button"
          class="close btn btn-outline-danger"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="fa-solid fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" autocomplete="off">
          <div class="form-group">
            <select class="form-select" id="select_box" formControlName="song">
              <ng-container *ngFor="let song of allSongs | async">
                <option value="{{ song.id }}">
                  {{ song.title }} - {{ song.artist }}
                </option>
              </ng-container>
            </select>
          </div>

          <div class="modal-footer">
            <button
              type="submit"
              (click)="submitAddSongForm()"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="editModal"
  data-toggle="modal"
  data-target=".editModal"
>
  <div class="modal-dialog" role="document">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit playlist</h5>
          <button
            type="button"
            class="close btn btn-outline-danger"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i class="fa-solid fa-times"></i>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formEdit">
            <div class="form-group">
              <label for="playlistName">Title</label>
              <input
                type="text"
                class="form-control"
                id="playlistName"
                aria-describedby="emailHelp"
                value="{{playlist?.title}}"
                formControlName="title"
              />
            </div>
            <div class="form-group">
              <label for="playlistDesc">Description</label>
              <input
                type="text"
                class="form-control"
                id="playlistDesc"
                value="{{playlist?.description}}"
                formControlName="description"
              />
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                (click)="submitForm()"
                class="btn btn-primary"
                data-bs-dismiss="modal"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
